.home
  min-height 100%
  display flex
  height 100%
  flex-direction row
  flex-wrap wrap
  @media  screen and (min-width:500px) and (max-width:760px)
    margin-bottom 2em !important

  .speach_box
    align-self center
    text-align center
    font-size 1.2em
    margin-top 2.5em
    .speach_box__head
      color mainColor
      text-transform uppercase
      margin-bottom 1em
      @media screen and (max-width:500px)
        margin-bottom .5em
        margin-top .5em
        text-align center
    .speach_box__text
      width 60%
      margin 0 auto
      color #efefef
      min-width 300px
      text-align justify
      @media screen and (max-width: 500px)
        padding 0 1em
        text-align justify
        width 90%
      @media  screen and (min-width:500px) and (max-width:760px)
        width 90%
  .home__form_wrapper
    width 100%
    margin-top 3em
    @media screen and (max-width: 500px)
      width 90%
      margin 0 auto
  .get_info
    display flex
    margin 35px 0 0 0
    justify-content center
    width 100%
    a
      color #b2b2b2
      font-size 1.5em
      transition color .7s
      &:hover
        color mainColor
