.home
  min-height 100%
  display flex
  height 100%
  flex-direction row
  flex-wrap wrap
  .home__social_links_container
    display block
    .social_links
      border 2px solid mainColor
      display inline-block
      font-size 1.2em
      padding 0.1em 1em
      color mainColor
      text-align center
      line-height 2.6em
      transition all 0.2s
      border-radius 5px
      cursor pointer
    .social_links:hover
      background mainColor
      color #FFF
    .social_links:active
      background mainColor
      color #FFF

  .speach_box
    align-self center
    text-align center
    font-size 1.2em
    .speach_box__head
      color mainColor
      text-transform uppercase
      margin-bottom 1em
    .speach_box__text
      width 60%
      margin 0 auto
      color #efefef
      min-width 320px
  .home__form_wrapper
    width 100%
    margin-top 3em

