.analytics
    width 100%
    display flex
    flex-direction column
    &__filters
        display flex
        @media screen and (min-width: 320px) and (max-width: 767px)
            display block
    &__select
        flex 1
    &__select_year
        max-width 80px
        flex 1
    &__select_region
        max-width 250px
    &-content
        color #d1d1d1
        padding-bottom 1em
    &__empty
        text-align center
        font-size 1.5em
        margin-top 1em

