### Example user template template
### Example user template

# IntelliJ project files
../.idea
UI/node_modules/openurl/.idea/openurl.iml
out
gen### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
