.analytics
	width 100%
	display flex
	flex-direction column
	.analytics__head
		display flex
		.analytics__select
			flex 1
			&.analytics__select_year
				max-width 80px
				flex 1
			&.analytics__select_region
				max-width 250px
