.analytics
	width 100%
	display flex
	flex-direction column
	.analytics__head
		display flex
		.analytics__select
			flex 1
			&.analytics__select_year
				max-width 80px
				flex 1
			&.analytics__select_region
				max-width 250px
	.analitics-content
		color #d1d1d1
		padding-bottom 1em
		.analitics__empty
			text-align center
			font-size 1.5em
			margin-top 1em

.graph
	position relative
.chart
	border-left 1px solid black
	border-bottom 1px solid black
	position relative

.y
	position absolute
	transform rotate(-90deg)
	transform-origin bottom left
	bottom 0
	padding 5px


.x
	position absolute
	top 100%
	width 100%
	padding 5px

