inputBorderColor = #00ffed
inputBorderColorActive = #00ffed
.search_form
    width 60%
    margin 0 auto
    position relative
    .search_form_predicated_result_wrapper
        position absolute
        border 1px solid inputBorderColor
        border-top none
        box-sizing border-box
        top 3.4em
        z-index 99999
        width 100%
        background rgba(255, 255, 255, .1)
        left 0
        .search_form_predicated_result__item
            color mainColor
            padding 0.4em 0.3em
            display flex
            cursor pointer
            &:hover
                background rgba(0, 0, 0, .3)
            &.ng-enter
                transition .3s linear all
                opacity 0
                &.ng-enter-active
                    opacity 1
            &.ng-leave
                opacity 1
                &.ng-leave-active
                    opacity 0
            &:first-child
                padding-top 0.5em
            .name
                flex 2
            .region
                flex 1
                text-align right
    @media screen and (max-width: 500px)
        width 100%
        margin 2em 0 0 0
        .search_form_predicated_result_wrapper
            .search_form_predicated_result__item
                .name
                    flex 1
                .region
                    display none
    @media screen and (min-width: 500px) and (max-width: 760px)
        width 90%
    .search__input_field
        position relative
        input
            background transparent
            border 2px solid inputBorderColor
            box-sizing border-box
            padding 1rem 1rem 1rem 2.5rem
            color mainColor
            transition none
            height auto !important
        ::-webkit-input-placeholder
            color mainColor
        ::-moz-placeholder
            color mainColor
        /* Firefox 19+ */
        :-moz-placeholder
            color mainColor
        /* Firefox 18- */
        :-ms-input-placeholder
            color mainColor
        input:focus
            border-color inputBorderColorActive
            background rgba(255, 255, 255, 0.1)
        .icon
            width 1.5rem
            position absolute
            top 12px
            left 12px

            img
                width 100%

    .search_submit_btn
        width 100%
        background mainColorFontDarken

    .search_submit_btn:hover
        background mainColor
        color #6d6d6d
