<div class="search_form">
  <div class="search__input_field">
    <input type="text" ng-model = "vm.searchQuery" placeholder="Шукати суддю..." ng-change="vm.searchQuery">
  </div>
  <div class="search_submit_btn btn">Маєш інфо?</div>
  <div class="search-form__result"  ng-if = "vm.searchQuery.length !== 0">
    <table datatable="ng" class="row-border hover">
      <thead>
      <tr>
        <th>Ім'я</th>
        <th>FirstName</th>
        <th>LastName</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="judge in vm.judges">
        <td>{{judge.Name}}</td>
        <td>{{judge.Department}}</td>
        <td>{{judge.Region}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
