.details
	color #666969
	display flex
	flex-direction column
	justify-content space-between
	height 100%

	.details_photo_box
		display flex
		width 100%
		justify-content: center;
		align-items center
		.img_wrapper
			width 25%
			min-width 150px
			position relative
			img
				width 100%
				border-radius 50%
	.details_text_wrapper
		margin 2rem 0

	.details_text_wrapper
		hr.details_text_separator
			width 50%
			border 1px solid mainColor
		h3,h5
			text-align center
	.icons
		margin 1rem 0
		display flex
		justify-content space-around
		position relative
		.icon
			cursor pointer
			flex-basis 10%
			.icon_wrapper
				flex-basis 10%
				position relative
				img
					width:100%
			.icon_text
				color mainColor
				text-align center
	.declaration_links
		width 50%
		margin .5rem auto
		display flex
		justify-content space-around
		div
			font-size 1.6em

	.send_info
		margin-top .5rem
		text-align center
		.btn_send
			line-height 2em
			padding 1em 3em
			height auto
			background #28dfd1
.modal_table_wrapper
	position absolute
	top 0
	left 0
	width 100%

