<div class="page__wrapper details">
    <section class="details_photo_box">
        <div class="img_wrapper">
            <img src="{{vm.avatar}}" alt="">
            <div class="in_anti_maydan" ng-if="vm.showAntiMaydanStigma()">
                <img src="../../assets/images/stigmas/01_antimaydan.png" alt="">
            </div>
            <div class="in_polit_prisoners" ng-if="vm.showPoliticalPrisonersStigma()">
                <img src="../../assets/images/stigmas/02_political.png" alt="">
            </div>
            <div class="job_state" ng-if="vm.showRetiredStigma()">
                <img src="../../assets/images/stigmas/03_retired.png" alt="">
            </div>
            <div class="job_state" ng-if="vm.showDecampStigma()">
                <img src="../../assets/images/stigmas/04_decamp.png" alt="">
            </div>
            <div class="job_state" ng-if="vm.showGotTheBootStigma()">
                <img src="../../assets/images/stigmas/05_gottheboot.png" alt="">
            </div>
        </div>
    </section>
    <section class="details_text_wrapper">
        <h3>{{vm.data.Name}}</h3>
        <hr class="details_text_separator">
        <h5>{{vm.data.Position}}</h5>
    </section>
    <section class="icons flex-container">

        <div class="icon icon_wealth" ng-click="vm.filterData('income')" ng-if="vm.incomeShown">
            <div class="icon_wrapper">
                <img src="../../assets/images/icon_wealth.png" alt="">
            </div>
            <div class="icon_text">
                Доходи
            </div>
        </div>

        <div class="icon icon_states" ng-click="vm.filterData('estate')" ng-if="vm.estateShown">
            <div class="icon_wrapper">
                <img src="../../assets/images/icon_states.png" alt="">
            </div>
            <div class="icon_text">
                Майно
            </div>
        </div>

        <!--<div class="icon icon_house" ng-click="vm.filterData('vehicles')">-->
        <!--<div class="icon_wrapper">-->
        <!--<img src="../../assets/images/icon_house.png" alt="">-->
        <!--</div>-->
        <!--<div class="icon_text">-->
        <!--Як живе-->
        <!--</div>-->
        <!--</div>-->

        <div class="icon icon_profession" ng-click="vm.filterData('sues')" ng-if="vm.data['Кількість справ']">
            <div class="icon_wrapper">
                <img src="../../assets/images/icon_profession.png" alt="">
            </div>
            <div class="icon_text">
                Професійні показники
            </div>
        </div>

        <div class="icon icon_house" ng-if="vm.data['Як живе']">
            <a href="{{vm.data['Як живе']}}">
                <div class="icon_wrapper">
                    <img src="../../assets/images/icon_house.png" alt="">
                </div>
                <div class="icon_text">
                    Як живе
                </div>
            </a>
        </div>

        <section class="modal_table_wrapper">
            <modal-table is-shown="vm.isShown" rendered-data="vm.renderedData"></modal-table>
        </section>
    </section>
    <section class="originals" ng-if="vm.data.allDeclarations.length > 0">
        <div class="originals__title">
            <span>Декларації:</span>
        </div>
        <div class="originals__links">
            <div ng-repeat="dc in ::vm.data.allDeclarations" class="originals__link">
                <div ng-if="dc.provider === 'declarations.com.ua'">
                    <a href="{{::dc.document.declaration.url}}" target="_blank"><i
                            class="material-icons">picture_as_pdf</i>&nbsp;{{::dc.year}}</a>
                    <br>
                    <a href="http://declarations.com.ua/declaration/{{::dc.document.id}}" target="_blank"><i
                            class="material-icons">&#xE30B;</i>&nbsp;{{::dc.year}}</a>
                </div>
                <div ng-if="dc.provider === 'public-api.nazk.gov.ua'">
                    <a href="https://public.nazk.gov.ua/declaration/{{::dc.document.id}}" target="_blank"><i
                            class="material-icons">&#xE30B;</i>&nbsp;{{::dc.year}}</a>
                </div>
            </div>
        </div>
        <div class="empty_declarations" ng-if="vm.data.allDeclarations.length === 0">
            Декларації відсутні
        </div>
    </section>
    <section class="originals" ng-if = "vm.data['Декларація родинних зв’язків судді подано у 2016 році'].length > 0">
        <div class="originals__title">
            <span>Декларація родинних зв’язків судді::</span>
        </div>
        <div class="originals__links">
            <div class="originals__link">
                <div>
                    <a href="{{::vm.data['Декларація родинних зв’язків судді подано у 2016 році']}}" target="_blank"><i
                            class="material-icons">picture_as_pdf</i>&nbsp;2016</a>
                </div>
                <div class="empty_declarations" ng-if="vm.data.allDeclarations.length === 0">
                    Декларації відсутні
                </div>
            </div>
        </div>
    </section>
    <section class="send_info">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSclyWp9El2L_x3Ii5BZ8rWdjpEZhl67NWz3366ocYBz_IzmrQ/viewform?entry.539199369={{vm.data.Name}}"
           target="_blank">
            <div class="btn btn_send" ng-click="vm.submit()">
                Залишити інфо про суддю
            </div>
        </a>
    </section>

</div>


