.details
	.details_photo_box
		display flex
		width 100%
		justify-content: center;
		align-items center
		.img_wrapper
			width 40%
			min-width 240px
			position relative
			img
				width 100%
				border-radius 50%
	.details_text
		border 1px solid red

