table.dataTable
  tbody
    tr
      background transparent
      cursor pointer
      td
        color logoColor
        border-radius none

    tr:hover
      background mainColor !important
      td
        color logoColor
