.footer__wrapper
    text-align center
    margin-bottom 3em
    margin-top 3em
    .free-space-bottom
        padding-bottom 50px
    .footer__text
        color #666969

    .partners_container
        margin: -3em 0 0 -2em;
        text-align: center;
        .partner
            text-decoration: none;
            display: -moz-inline-box;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            margin: 3em 0 0 2em;
            .r
                width: 8em;
                float: right;
            .m
                img
                    filter: invert(65%)

.main
    .footer__wrapper
        .footer__text
            color #FFF
        .partners_container
            .partner
                .m
                    img
                        filter: grayscale(100%)
