<div class="footer__wrapper">
  <div class="partners_container">
    <div class="partner streched-logo">
      <div class="img-wrapper">
        <a href="http://antac.org.ua/" target="_blank"><img src="../../../assets/images/partners/corruption_fond.png" alt=""></a>
      </div>
    </div>
    <div class="partner automaidan">
      <div class="img-wrapper ">
        <a href="http://www.automaidan.org.ua/" target="_blank"><img src="../../../assets/images/automaidan_logo.png" alt=""></a>
      </div>
    </div>
    <div class="partner">
      <div class="img-wrapper">
        <a href="http://sotnya.org.ua/" target="_blank"><img src="../../../assets/images/partners/sotnya.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="footer__text"></div>
</div>
