<div class="footer__wrapper">
    <div class="likely likely-big free-space-bottom" data-title="PROSUD: проект контролю за суддями та їх статками">
        //add likely-light on all pages except details
        <div class="facebook">Поширити</div>
        <div class="twitter" data-via="ProsudInfo">Твітнути</div>
        <div class="gplus">+1</div>
    </div>
    <div class="partners_container">
        <div class="partner">
            <div class="r m">
                <a href="http://antac.org.ua/" target="_blank">
                    <img src="../../../assets/images/partners/corruption_fond.png" alt="" style="position: relative; width: 100%;">
                </a>
            </div>
        </div>
        <div class="partner">
            <div class="r m">
                <a href="http://www.automaidan.org.ua/" target="_blank">
                    <img src="../../../assets/images/automaidan_logo.png" alt="" style="position: relative; width: 100%;">
                </a>
            </div>
        </div>
        <div class="partner">
            <div class="r m">
                <a href="http://sotnya.org.ua/" target="_blank">
                    <img src="../../../assets/images/partners/sotnya.png" alt="" style="position: relative; width: 100%;">
                </a>
            </div>
        </div>
    </div>
    <div class="partners_container">
        <div class="partner">
            <div style="width: 30em;">
                <a href="http://www.ua.undp.org/" target="_blank">
                    <img src="../../../assets/images/partners/UNDP+Danida.png" alt="" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
    <div class="partners_container">
        <div class="partner">
            <div style="width: 18em;">
                <a href="http://www.ua.undp.org/" target="_blank">
                    <img src="../../../assets/images/partners/ned.png" alt="" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
    <div class="footer__text"></div>
</div>
