<div class="footer__wrapper">
    <div class="partners_container">

        <div class="partner automaidan">
          <div class="img-wrapper ">
            <img src="../../../assets/images/automaidan_logo.png" alt="">
          </div>
        </div>
        <div class="partner streched-logo">
            <div class="img-wrapper">
                <img src="../../../assets/images/partners/corruption_fond.png" alt="">
            </div>
        </div>
        <div class="partner">
            <div class="img-wrapper">
                <img src="../../../assets/images/partners/sotnya.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer__text"></div>
</div>
