<div class="navbar__wrapper">
  <div class="navbar__logo_wrapper">
    <div class="navbar__logo">
      <a ui-sref="home">
          <img src="assets/images/logo-dark.png" alt="">
      </a>
    </div>
  </div>
  <nav class = "navbar__item_wrapper">
    <a class="navbar__item"
        ng-click = "vm.activeTab = item.state"
        ng-class = "{active: vm.activeTab === item.state}"
         ng-repeat = "item in ::vm.menuItems"
         ui-sref="{{item.state}}">
      {{item.title}}
    </a>
  </nav>
</div>

