mainColor = #00ffed;
menuTextColor = black

.navbar__wrapper
  width 100%
  max-width 960px
  margin 0 auto
  background transparent
  padding-top 15px
  .navbar__logo_wrapper
    padding-bottom 10px
    .navbar__logo
      width 15%
      position relative
      min-width 150px
      img
        width: 100%
  .navbar__item_wrapper
    background transparent
    box-shadow none
    display flex

  .navbar__item
    margin-right 1em
    transition color .5s
    color #222222
  .navbar__item.active
    color mainColor
  .navbar__item:hover
    color mainColor


.main
  .navbar__item
    margin-right 1em
    transition color .5s
    color #FFF
  .navbar__item.active
    color mainColor
  .navbar__item:hover
    color mainColor


