<div class="navbar__wrapper">
    <div class="navbar__logo_wrapper">
        <div class="navbar__logo">
            <a ui-sref="home">
                <img src="assets/images/logo-dark.png" alt="">
            </a>
        </div>
    </div>
    <div class="navbar-responsive">
        <div class="navbar__menu_toggle">
            <i class="material-icons">menu</i>
        </div>
        <ul class="navbar__item_wrapper">
            <li class="navbar__item" ng-repeat="item in ::vm.menuItems"
                ng-class="{active: vm.activeTab === item.state}">
                <a ng-click="vm.activeTab = item.state"
                   ui-sref="{{item.state}}">
                    {{item.title}}
                </a>
            </li>
            <li class="navbar__item">
                <a href="http://blog.prosud.info/">Розслідування</a>
            </li>
            <li class="navbar__item">
                <a href="https://prosud.info/maidans-bad-judges.pdf" target="_blank">PDF Судді Майдану</a>
            </li>
            <li class="navbar__item">
                <a href="http://vrp.prosud.info/" target="_blank">Хто є хто у ВРП</a>
            </li>
        </ul>
    </div>
</div>

