<div class="modal_table" ng-if = "vm.isShown">
    <table>
        <thead>
        <tr>
            <td>{{vm.renderedData.head.title}}</td>
            <td ng-repeat = "year in ::vm.renderedData.head.years track by $index">
                {{year}}
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "row in ::vm.renderedData.table track by $index">
            <td>{{row.title}}</td>
            <td ng-repeat = "col in ::row.value track by $index">{{col || "-"}}</td>
        </tr>
        </tbody>
    </table>
    {{isShown}}
    <div class="close_icon" ng-click = "vm.closeTable()">
        <i class="material-icons">clear</i>
    </div>
</div>
