.about
    display flex
    height 100%
    flex-direction row
    flex-wrap wrap
    .about__content
        text-align left
        color logoColor
    .about_title_additional
        color mainColor
        text-transform uppercase
        margin-bottom 1em
