/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower
pageBackground=#e0f7fa
mainColor= #00e7d5
mainColorDarken= #00c7b6
mainColorFontDarken = #00dfcf;
logoColor = #fefefe;
logoColorHover = #fefefe;
fontColor = #666969;

html
  height: 100%

body {
  min-height 100%
  font-family Helvetice, Arial, sans-serif
}

.material-icons
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
h1,h2,h3,h4
  margin 0
  padding 0
p
  white-space: pre-line;
.block__wrapper
  width 100%
  padding 0 15px

.page__wrapper
  //background url('../assets/images/background.png') no-repeat 100% 100%
  width 100%
  max-width 960px
  margin 0 auto

.page_container
  background #f2f2f2
  display flex
  min-height 100%
  flex-direction column
  height auto
  &.main
    background #574694 /* Old browsers */
    background linear-gradient(to right,  #574694 0%,#386495 73%,#336796 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-attachment fixed !important
    width 100%
    height auto



.view
  min-height 100%
  flex-grow 2
  position relative
.footer
  position relative
  bottom 0

.contant
  display flex
  flex-grow 1
  flex-direction row
  justify-content center